<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ddd</title>
</head>
<body>
<a href="multipart.html">파일업로드</a>
<h1>INDEX.HTML {{title}}</h1>
<h2>{{data}}</h2>
<h2>{{aaa}}</h2>
<p>
    {% for person in member %}
    {{person.name}}
    {{person.age}}
    {% endfor %}
</p>
</body>
</html>